* {
    margin: 0px;
}



.navbar {
    display: flex;
    justify-content: space-between;
}


ul { 
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 15px;
}

ul a {

     text-decoration: none;

}



.banner {
    justify-content: center;
    text-align: center;
}

.btn {
    
    background-color: rgb(163, 117, 17);
    border-radius: 6px;
    padding: 8px 9px;
    border: none;
}
.btn a {
    text-decoration: none;
    color: white;
  
}